@charset "utf-8";
/* CSS Document */


.cabecalho-total{
	border-bottom:thin #999 solid;
	
}
.cabecalho-visitou{
	font-family: 'Open Sans', sans-serif;
	font-size:2.4rem;
	margin-bottom:5px;
	border-bottom:2px solid #DDD;
	font-weight:normal;
}
.cabecalho-interesses{
	font-family: 'Open Sans', sans-serif;
	font-size:2.4rem;
	margin-bottom:5px;
	border-bottom:2px solid #DDD;
	font-weight:normal;
	
}

.bloco-visitou{
	
}

.bloco-interesses{
	
}

.foto{
margin:auto;
	
}

.tit-produto{
	font-family: 'Open Sans', sans-serif;
	font-size:1.3rem;
	
}

.tit-produto a{
	color:#000;
	
}

.preco-final{
	font-family: 'Open Sans', sans-serif;
font-size: 14px;

	
}

.preco-desconto{
	font-family: 'Open Sans', sans-serif;
	text-align:left;
	text-decoration:line-through;
	font-size: 14px;
	color:#CCC;

}

.num-parcelas{
	font-family: 'Open Sans', sans-serif;
	font-size:small;
	 vertical-align:top;
	color:#D52D30;
	
}

.valor-parcela{
	font-family: 'Open Sans', sans-serif;
	color: #D52D30;
	font-size:2rem;
		font-weight:600;
	
}



/*************** Rating system ************************/
.rating-xs {
   
	font-size: 1.2em;
}